.reviews-container {
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  gap: 15px;
}

.filter-dropdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.rating-filter {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rating-input {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.reviews-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.reviews-table th,
.reviews-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.reviews-table th {
  background-color: #f4f4f4;
}

.search-input {
  padding: 10px;
}

.btn-container {
  display: flex;
  gap: 20px;
  padding: 20px 0px;
}

.reload-button {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: #0000cc;
  }
}

.add-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: #45a049;
  }
}

.pagination-controls {
  padding: 20px;
  align-self: center;
  justify-self: center;
  display: flex;
  gap: 10px;

  & button {
    color: white;

    padding: 4px 6px;
    border: none;
    border-radius: 4px;
    background-color: blue;
    &:hover {
      background-color: #0000cc;
    }
  }
}

.links {
  margin: 10px 0;
  display: flex;
  gap: 15px;
}

.links a {
  color: #0073e6;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #005bb5;
  text-decoration: underline;
}
